#posts__postDetails,
#post__myPost {
    margin: auto;
    margin-bottom: 1rem;
    width: 40%;
}

.editDropDown {
    margin-bottom: 1rem;
}

.btn__navigate {
    margin-bottom: 1rem;
}

article {
    margin: 1rem;
}