.category__label{
    display: flex;
    flex-direction: column;
}

.category{
    padding: 2rem;
    margin: 0.5rem;
    display: flex;
    border: 2px solid mediumseagreen;
    text-align: center;
}

.category_title{
    display: flex;
    font-weight: bolder;
    font-size: larger;
}