.category_form{
    margin-top: 10rem;
    height: 14rem;
    width: 20rem;
    padding: 3rem;
    text-align: center;
    border: 0.1rem solid gray;
    border-radius: 1.25rem;
    float: right;
}

.form-control{
    margin-bottom: 1rem;
}